body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px; /* Ajuste el espacio interno del cuerpo */
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper, #checkoutBox, .payment-form {
    width: 300px; /* Amplía el ancho del contenedor */
    margin: 20px; /* Reduzca el margen externo */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.titleProduct {
    margin-top: 10px;
    font-size: 18px; /* Reduce el tamaño de la fuente */
    color: #333;
    text-align: center;
}

.price {
    font-weight: bold;
    color: #4CAF50;
    font-size: 16px; /* Reduce el tamaño de la fuente */
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    display: block;
    margin: 20px auto; /* Elimina el margen superior y utiliza solo el margen automático horizontal */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.spotlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spotlights section {
    flex: 1;
    margin: 10px;
    max-width: 300px;
}

.spotlights .content {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px; /* Ajuste el espacio interno del contenido */
    text-align: left;
    transition: transform 0.3s ease;
}

.spotlights .content:hover {
    transform: translateY(-5px);
}

.container {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.progress-bar {
    width: 100%;
    margin-top: 10px;
}

